.login-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
}

.login-container .btn.header i {
    height: unset !important;
}

.login-container .btn.header i {
    height: unset !important;
    width: 12px;
}

.login-container .btn.description {
    width: 12em;
}